.AccountPageC {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-image: url('../assets/customerAccount.jpg');
    background-size: cover;
    width: 100%;
    background-position: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
}

.AccountDetailsC {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 50px;
    border-radius: 10px;
    background-color: rgb(238, 238, 238);
    max-height: 85vh;
    height: auto;
    overflow-y: auto;
    box-sizing: border-box;
}

.AccountDetailsC h1{
    font-size: 30px;
}

.detailsBoxC {
    display: flex;
    flex-direction: column;
    padding: 15px;
    border-radius: 10px;
    width: 300px;
    gap: 15px;
}

.detailC {
    color: rgb(0, 0, 0);
}

.saveButtonC {
    background-color: black;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    color: white;
    border: none;
    font-size: 18px;
}

.accountMembershipDetailsArea {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.accountMembershipDetailsContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.membershipSubscribeButton {
    background-color: black;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    color: white;
    border: none;
    font-size: 18px;
}

