h1 {
    text-align: center;
    margin-bottom: 20px;
}

.exhibits, .specialExhibits {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.exhibit {
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.exhibit img {
    width: 400px;
    height: 290px;
    border-radius: 5px;
    background-color: black;/*replace this with image*/
}

@media (max-width: 1050px) {
    .exhibits, .specialExhibits {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 680px) {
    .exhibits, .specialExhibits {
        grid-template-columns: 1fr;
    }
}