/* First Page */

.frontPageContainer {
    display: flex;
    flex-direction: column;
    height: auto;
}

.firstPageContainer {
    background-image: url('../assets/homepage1.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    color: white;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: end;
}

.firstPageMessage {
    color: white;
    display: flex;
    padding-right: 120px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Playfair Display, sans-serif;
    line-height: 0.5;
}

/* About Page */
.aboutPageContainer {
    background-image: url('../assets/aboutus.jpg');
    background-size: cover;
    width: 100%;
    background-position: center;
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 20px;
    box-sizing: border-box;
}

.aboutPageHeading {
    font-size: 3rem; 
    color: black; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
    font-family: Playfair Display, sans-serif;
    margin-bottom: 20px;
}

.aboutPageBox {
    width: 60%; 
    max-width: 800px;
    max-height: 80vh;
    height: auto; 
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: black;
    font-size: 1.5rem;
    text-align: left;
    overflow-y: auto;  
    box-sizing: border-box;
}

.aboutPageBox h2 {
    font-size: 2rem; 
    margin-bottom: 15px; 
}

.aboutPageBox p {
    margin: 10px 0; 
}

/* Hours Page */
.hoursPageContainer {
    display: flex;           
    height: 100vh;           
}

.hoursPageImage {
    flex: 1;                
    display: flex;
    justify-content: center; 
    align-items: center;     
    background-image: url('../assets/hours.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;          
    height: auto;           
    max-height: 100%; 
}

.hoursPageInfo {
    flex: 1;      
    padding: 20px;        
    color: white;             
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;     
    background-color: rgb(110, 109, 84);
    overflow-y: auto;  
}

.hoursPageInfo h2 {
    margin-bottom: 20px;    
    font-size: 2rem;
}

.hoursPageInfo p {
    font-size: 1.2rem;
    line-height: 1.5;    
    margin-bottom: 10px;   
}


/* Rules Page */
.rulesPageContainer {
    display: flex;           
    height: 100vh;           
}

.rulesPageImage {
    flex: 1;                
    display: flex;
    justify-content: center; 
    align-items: center;     
    background-image: url('../assets/rules.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;          
    height: auto;           
    max-height: 100%; 
}

.rulesPageInfo {
    flex: 1;                 
    padding: 20px;           
    background-color: rgb(106, 139, 149);
    color: white;             
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    text-align: center;     
    overflow-y: auto;        
}
  

.rulesPageInfo h1 {
    margin-bottom: 20px;     
    font-size: 2rem;
}
  
.rulesPageInfo h2 {
    margin-bottom: 10px;
    font-size: 1.5rem;
}
  
.rulesPageInfo ul {
    list-style-type: none;
    padding-left: 0;
}
  
.rulesPageInfo ul li {
    font-size: 1rem;
    margin-bottom: 5px;
    line-height: 1.6;
}
  
.rulesPageInfo section {
    margin-bottom: 20px;
}

/*map page*/
.mapPageContainer {
    padding: 20px;
    text-align: center;
}
  
.mapPageContainer h1 {
    font-size: 2rem;
    margin-bottom: 50px;
}
  
.mapPageFloors {
    display: grid; 
    grid-template-columns: repeat(2, 1fr); 
    gap: 20px; 
    justify-items: center; 
    max-width: 1200px;
    margin: 0 auto;
}
  
.mapFloorContainer {
    text-align: center;
}
  
.mapFloorImage1 {
    width: 100%;
    height: 320px;
    object-fit: contain;
    border-radius: 10px;
    background-color: white;
    background-image: url('../assets/floor1.png');
    background-size: cover;
    background-position: center;
}

.mapFloorImage2 {
    width: 100%;
    height: 320px;
    object-fit: contain;
    border-radius: 10px;
    background-color: white;
    background-image: url('../assets/floor2.png');
    background-size: cover;
    background-position: center;
}

.mapFloorImage3 {
    width: 100%;
    height: 320px;
    object-fit: contain;
    border-radius: 10px;
    background-color: white;
    background-image: url('../assets/floor3.png');
    background-size: cover;
    background-position: center;
}

.mapLegendImage {
    width: 100%;
    height: 320px;
    object-fit: contain;
    border-radius: 10px;
    background-color: white;
    background-image: url('../assets/map_legend.png');
    background-size: cover;
    background-position: center;
}
  
.mapFloorDesc {
    margin-top: 10px;
    padding: 15px;
    background-color: rgb(249, 249, 249); 
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
  
.mapFloorDesc h3 {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
}
  
.mapFloorDesc p {
    font-size: 1rem;
    color: rgb(85, 85, 85);
    line-height: 1.6;
}



/*parking*/
.parkingPageContainer {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url('../assets/park.jpg'); 
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}

.parkingPageBox {
    background-color: rgba(255, 255, 255, 0.8); 
    padding: 20px;
    width: 80%;  
    max-width: 800px;  
    max-height: 80vh;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    box-sizing: border-box;
    border-radius: 10px;
    overflow-y: auto;  
}

.parkingPageBox h1 {
    font-size: 2.2rem;
    text-align: center;
    margin-bottom: 20px;
}

.parkingPageBox h2 {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 20px;
}

.parkingPageBox ul {
    list-style-type: none;
    padding: 0;
}

.parkingPageBox ul li {
    font-size: 1.1rem;
    margin-bottom: 10px;
}


/* Contact Page */
.contactPageContainer {
    display: flex;           
    height: 100vh;           
}

.contactPageImage {
    flex: 1;                
    display: flex;
    justify-content: center; 
    align-items: center;     
    background-image: url('../assets/contact.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;          
    height: auto;           
    max-height: 100%; 
}

.contactPageInfo {
    flex: 1;      
    padding: 20px;        
    color: white;             
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;     
    background-color: rgb(74, 37, 6);
    overflow-y: auto;
}

.contactPageInfo h2 {
    margin-bottom: 20px;    
    font-size: 2rem;
}

.contactPageInfo p {
    font-size: 1.2rem;
    line-height: 1.5;    
    margin-bottom: 10px;   
}