.edit-event-container{
    background-image: url('../assets/abstract-background-image.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.edit-event-form{
    width: 100%;
    max-width: 1000px;
    margin: 2rem auto;
    background-color: #ffffff;
    padding: 2rem 2.5rem;
    border-radius: 12px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.edit-event-input{
    padding: 0.75rem 1rem;
    font-size: 1rem;
    border-radius: 10px;
    border: 1px solid #d1d5db;
    transition: border-color 0.2s ease, box-shadow 0.2s ease;
    width: 100%;
    box-sizing: border-box;
}

.edit-event-input:focus{
    outline: none;
    border-color: #2563eb;
    box-shadow: 0 0 0 1px rgba(37, 99, 235);
}

.edit-event-formButton{
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    background-color: #2563eb;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    width: 100%;
}

.edit-event-formButton:hover{
    background-color: #1e40af;
}
.edit-event-add-employee-button{
    background-color: #10b981;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 8px;
    font-size: 0.95rem;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.2s ease;
    margin-top: 15px;
}
.re-add-employee-button-edit-events{
    background-color: #ef4444;
    color: #ffffff;
    padding: 0.5rem .7rem;
    border: none;
    border-radius: 8px;
    font-size: 0.7rem;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.re-add-employee-button-edit-events:hover {
    background-color: #dc2626;
}

.remove-employee-button-edit-events{
    background-color: #ef4444;
    color: #ffffff;
    padding: 0.5rem .7rem;
    border: none;
    border-radius: 8px;
    font-size: 0.7rem;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.remove-employee-button-edit-events:hover {
    background-color: #dc2626;
}