.header {
    font-size: 2rem;
    color: #333;
    text-align: center;
    margin-bottom: 15px;
}
.container-exhibit-report {
    background-image: url('../assets/abstract-background-image.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


.report-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
    width: 100%;
    max-width: 900px;
    margin: 30px auto;
    padding: 30px;
    box-sizing: border-box;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 16px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
}






.search-bar {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    font-size: 1rem;
    width: 100%;
    max-width: 500px;
    box-sizing: border-box;
}




.filter-label {
    font-weight: 600;
    color: #555;
    display: flex;
    align-items: center;
    gap: 10px;
}




.filter-select {
    border-radius: 8px;
    border: 1px solid #ccc;
    background-color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: border-color 0.3s ease;
    padding: 8px 12px;
}




.filter-select:hover,
.filter-select:focus {
    border-color: #888;
}




.info-table {
    width: 100%;
    max-width: 800px;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 8px;
    overflow: hidden;
    margin-top: 20px;
}




.info-table th,
.info-table td {
    padding: 12px 15px;
    text-align: center;
    border-bottom: 1px solid #e0e0e0;
}




.info-table th {
    background-color: #007BFF;
    color: white;
    font-weight: 600;
}
