.container-view-donations {
    background-image: url('../assets/abstract-background-image.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.view-donations-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
    width: 100%;
    max-width: 900px;
    margin: 30px auto;
    padding: 30px;
    box-sizing: border-box;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 16px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
}
.view-donations-header {
    text-align: center;
    color: #444;
    margin-bottom: 20px;
    font-size: 2rem;
    padding-bottom: 8px;
    border-bottom: 2px solid #e0e0e0;
}

.view-donations-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

.view-donations-table thead {
    background-color: #007BFF;
    color: white;
}

.view-donations-table th,
.view-donations-table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}